@import 'variables';

// Default styling
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:$dark-color;
}

a
{
    text-decoration:none;
    color:$dark-color;
}

ul
{
    list-style:none;
}

h1,h2,h3,h4,h5,h6
{
    text-transform:uppercase;
    font-family:$primary-font;
    font-weight:bold;
    padding-bottom:0.6rem;
}

p
{
    padding-bottom:0.4rem;
}

input
{
    font-family:$secondary-font;
}

// Heading classes
.head
{

    &-1
    {
        font-size:3.3rem;
    }
    &-2
    {
        font-size:2.5rem;
    }
    &-3
    {
        font-size:1.5rem;
    }
    &-4
    {
        font-size:1.3rem;
    }
    &-underline
    {
        position:relative;

        &:after
        {
            content:'';
            position:absolute;
            height:2px;
            width:10%;
            background:$primary-color;
            bottom:0;
            left:0;
            transform:translateY(-5px);
            // margin-top:-100px;
        }
    }

}

// Paragraph classes
.lead
{
    &-1
    {
        font-size:1.2rem;
    }
    &-2
    {
        font-size:1rem;
    }
    &-3
    {
        font-size:0.8rem;
    }
}

// Color classes
.primary
{
    color:$primary-color;
}
.secondary
{
    color:$secondary-color;
}
.dark
{
    color:$dark-color;
}
.med
{
    color:$med-color;
}
.light
{
    color:$light-color;
}
.light-med
{
    color:$light-med-color;
}

// Background color classes
.bg
{
    &-primary
    {
        background:$primary-color;
    }
    &-secondary
    {
        background:$secondary-color;
    }
    &-dark
    {
        background:$dark-color;
    }
    &-light
    {
        background:$light-color;
    }
}

// Padding class
.py
{
    &-0
    {
        padding:4rem 0;
    }
    
    &-1
    {
        padding:3rem 0;
    }
    &-2
    {
        padding:1.5rem 0;
    }
    &-3
    {
        padding:1.3rem 0;
    }
    &-4
    {
        padding:0.6rem 0;
    }
}

// Margin class
.my
{
    &-1
    {
        margin:1.5rem 0;
    }
    &-2
    {
        margin:1rem 0;
    }
    &-3
    {
        margin:0.6rem 0;
    }
    &-4
    {
        margin:1.4rem 0;
    }
}

// Logo
.logo
{
    a
    {
        display:flex;
        flex-direction:row;
        align-items:center;
        .head-3
        {
            text-decoration:uppercase;
            padding:0;
        }
        span
        {
            display:inline-block;
            height:7px;
            width:7px;
            border-radius:50%;
            margin:0 5px;
            // transform:translateY(-5px);
        }

    }
}

// Button class
%btn-shared
{
    display:inline-block;
    border:none;
    font-size:0.9rem;
    font-family:$primary-font;
    font-weight:500;
    border-radius:3px;
    padding:0.8rem 1.6rem;
    margin-top:0.6rem;
    text-transform:uppercase;
    cursor:pointer;
    transition:all $anim-speed ease;
}

.btn
{
    @extend %btn-shared;

    &-primary
    {
        background:$primary-color;
        color:$light-color;

        &:hover
        {
            background:$light-color;
            color:$secondary-color;
        }
    }
    &-secondary
    {
        background:$secondary-color;
        color:$light-color;
        
        &:hover
        {
            background:$light-color;
            color:$dark-color;
        }
    }
    &-light
    {
        background:$light-color;
        color:$dark-color;

        &:hover
        {
            background:$primary-color;
            color:$light-color;
        }
    }
    &-dark
    {
        background:$dark-color;
        color:$light-color;

        &:hover
        {
            background:$light-color;
            color:$dark-color;
        }
    }
    &-span
    {
        width:100%;
        text-align:center;
        font-weight:500;
    }
}

// Indicator circles
.circle-indicate
{
    height:10px;
    width:10px;
    margin-right:0.6rem;
    border-radius:50%;
    border:2px solid $primary-color;
    cursor:pointer;
    transition:all $anim-speed ease;

    &:hover
    {
        border:none;
        background:$primary-color;
    }
}

.current
{
    transform:scale(1.1);
    background:$primary-color;
    border:none;
}

// Active class
.active
{
    display:flex;
}

// Selected class
.selected
{
    border-color:$primary-color !important;
}

// Container class
.container
{
    max-width:$max-width;
    margin:0 auto;
}

// Navbar class (PC)
.navbar-wide
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1.6rem 0;
    
    ul
    {
        display:flex;

        li
        {
            margin-left:2.5rem;
            
            
            a
            {
                font-family:$primary-font;
                font-weight: lighter;
                color:$light-color;
                border-bottom:2px solid transparent;
                padding-bottom:0.4rem;
                transition:border-color $anim-speed ease;

                &:hover
                {
                    border-color:darken($primary-color,40%);
                }
            }
        }
    }
}

// Nabvar (mobo & tablet)
.navbar-shrink
{
    height:10vh;
    display:flex;
    align-items:center;
    .nav-content
    {
        position:relative;
        display:flex;
        align-items:center;
        // grid-gap:5rem;
        width:100%;

        .logo
        {
            // position:absolute;
            transform:scale(1.1);
            margin:auto;
        }
    
        .menu
        {
            position:absolute;
            height:50px;
            width:50px;
            
            .toggler
            {
                position:absolute;
                height:40px;
                width:40px;
                z-index:2;
                opacity:0;
                cursor:pointer;
    
                &:hover + .hamburger > div::before,
                &:hover + .hamburger > div::after
                {
                    width:100%;
                }
    
                &:checked + .hamburger > div
                {
                    transform:rotate(135deg);
                }
    
                &:checked + .hamburger > div::before,
                &:checked + .hamburger > div::after
                {
                    width:100%;
                    top:0;
                    transform:rotate(90deg);
                }
            }
    
            .hamburger
            {
                position:absolute;
                height:50px;
                width:50px;
                padding:0 0.3rem;
                // padding:0 0.6rem;
                z-index:1;
                display:flex;
                justify-content:center;
                align-items:center;
    
                div
                {
                    position:relative;
                    height:1.5px;
                    width:80%;
                    background:$light-color;
                    border-radius:45px;
                    transition:all $anim-speed ease;
    
                    &::before,&::after
                    {
                        content:'';
                        position:absolute;
                        height:100%;
                        width:80%;
                        background:$light-color;
                        bottom:8px;
                        border-radius:45px;
                        transition:all $anim-speed ease;
                    }
    
                    &::after
                    {
                        width:60%;
                        top:8px;
                    }
    
                }
            }
        }

    }
}

// Footer class
.main-footer
{
    .container
    {
        display:grid;
        grid-template-columns:1.1fr 1fr 0.5fr 0.8fr;
        grid-gap:5rem;

        .box
        {
            &-1
            {
                display:flex;
                justify-content:center;
                align-items:center;

               
                .logo
                {
                    transform:scale(1.6);
                }

            }

            &-2
            {
                // padding:0 3.5rem;
                .timing
                {
                    margin-top:1.3rem;
                    li
                    {
                        display:flex;
                        justify-content:space-between;
                        border-bottom:2px solid lighten($primary-color,10%);
                        margin-top:1rem;
                    }
                }
            }

            &-3
            {
                
                .nav-links
                {
                    margin-top:1.3rem;


                    li
                    {
                        a
                        {
                            .lead-3
                            {
                                display:inline-block;
                                transition:color $anim-speed ease;
                            }

                            &:hover
                            {
                                .lead-3
                                {
                                    color:$primary-color;
                                }
                            }

                        }
                    }
                }
            }

            &-4
            {
                .contact-links
                {
                    margin-top:1.3rem;

                    li
                    {
                        display:flex;
                        align-items:center;
                        margin-bottom:0.6rem;

                        .lead-3
                        {
                            margin-left:1rem;
                        }
                    }
                }

                .social-links
                {
                    display:flex;
                    margin-top:0.6rem;
                    
                    .icon-flex
                    {
                        margin-right:0.6rem;
                        .icon-contain
                        {
                            height:35px;
                            width:35px;
                            background:$primary-color;
                            border-radius:50%;
                            display:flex;
                            justify-content:center;
                            align-items:center;
                            transition:all $anim-speed ease;

                            &:hover
                            {
                                background:$dark-color;
                                
                                i
                                {
                                    color:$primary-color;
                                }
                            }

                        }
                    }
                }
            }

            &-5
            {
                grid-column:span 4;
                .lead-3
                {
                    text-align:center;
                }
            }
        }
    }
}