// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
// Predefined variables
$primary-font: 'Poppins',sans-serif;
$secondary-font: 'Nunito',sans-serif;
$quote-font:'Palanquin Dark',sans-serif;
$primary-color: #FA2A34;
$secondary-color:#000;
$light-color:#FDFDFD;
$med-color:#9D9D9D;
$light-med-color:#f5f5f5;
$dark-color:#333;
$super-light-color:#fff;
$max-width:80%;
$anim-speed:0.3s;
